#preloader{
  position: fixed;
  background: url(preloader2.gif) no-repeat center center;
  z-index: 100;
  background-size: cover;
  height:100vh;
  width:100vw;
  margin-right: -35px;
  margin-top: -30px;
  margin-bottom: -15px;
  margin-left: -20px;

  animation: fadeout 3s ease infinite;
  -webkit-animation: fadeout 3s ease infinite;
  -moz-animation: fadeout 3s ease infinite;
  -o-animation: fadeout 3s ease infinite;
  -ms-animation: fadeout 3s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}
body{
    /* background-image: url("Picsart_24-04-11_01-16-22-771.png"); */
    /* background-color: #d57b1b; */
    display: grid;
    height: 100vh;
    background-color: #5C4033;
    place-items: center;
    margin-bottom: 0%;
}
#div1{
    height: 90px;
    width:100%;
    top: 0;
    background: linear-gradient(#583818, rgba(255, 255, 255, 0));
    text-align: center;
    position: fixed;
    left: 0%;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
}
#logo1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border-radius: 50%;
    height: 50px;
    width:50px;

}

.sidenav{
  height:100%;
  width:130px;
  position:fixed;
  z-index: 1;
  top:0;
  right:0;
  overflow-x:hidden;
  padding-top:80px;
  background-color: #583818;/*  #583818 */
  padding-left: 10px;
  font-family: "Teko", sans-serif;
  font-size:20px;
}
#icons{
  color:whitesmoke;
}
.description{
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  
}
/* footer{
  background-color: #2e1e0d;
  /* top:1000px; */
  /* bottom:0%;
  position:absolute;
  left:0%;
  right:0%;
} */ 
.foot{
  background-color: #533527;
  text-align:center;
  /* margin-left: -13%; */
  width: 100%;
  margin-right: 10px;
  /* padding-right:160px; */
  position:relative;
  bottom:0;
  margin-top: 100px;;
  height:500px;
}

#footer1{
  width:400px;
  float:left;
  color: white;
  font-size: 50px;
  padding-right: 50px;
  text-align: center;
}
#f{
  font-family: "Bad Script", cursive;
}
#d{
  padding-left: 10px;
  font-family: "Bad Script", cursive;
}
#footer2{
  width:400px;
  float:right;
  color:white;
  font-size:20px;
  font-family: "Teko", sans-serif;
  margin-right: 150px;
  margin-top: 100px;
}
/* colour change */
@keyframes colour{
  0% {color:whitesmoke;}
  100% {color:yellow;
  transform:rotateY(360deg);}
}
@-moz-keyframes colour {
  0% {color:whitesmoke;}
  100% {color:yellow;
  transform:rotateY(360deg);}
}

@-webkit-keyframes colour {
  0% {color:whitesmoke;}
  100% {color:yellow;
  transform:rotateY(360deg);}
}

@-o-keyframes colour {
  0% {color:whitesmoke;}
  100% {color:yellow;
  transform:rotateY(360deg);}
}

@-ms-keyframes colour {
  0% {color:whitesmoke;}
  100% {color:yellow;
  transform:rotateY(360deg);}
}

/* fad in image animation*/
@keyframes fadeout{
  0% {opacity:1;}
  100% {opacity:0;}
}
@-moz-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* border radius animation */
@keyframes borderRad{
  0% {border-radius: 0% 0% 0% 0%;}
  100% {border-radius: 40% 10% 40% 10%;}
}
@-moz-keyframes borderRad{
  0% {border-radius: 0% 0% 0% 0%;}
  100% {border-radius: 40% 10% 40% 10%;}
}
@-webkit-keyframes borderRad{
  0% {border-radius: 0% 0% 0% 0%;}
  100% {border-radius: 40% 10% 40% 10%;}
}
@-o-keyframes borderRad{
  0% {border-radius: 0% 0% 0% 0%;}
  100% {border-radius: 40% 10% 40% 10%;}
}
@-ms-keyframes borderRad{
  0% {border-radius: 0% 0% 0% 0%;}
  100% {border-radius: 40% 10% 40% 10%;}
}

/* zoom in animation */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-ms-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* zoom in animation for paras */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:whitesmoke;
  }
}
@-moz-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:whitesmoke;
  }
}
@-o-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:whitesmoke;
  }
}
@-ms-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:whitesmoke;
  }
}
@-webkit-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:whitesmoke;
  }
}
/* zoom in animation for icons */
@keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:yellow;
  }
}
@-moz-keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
    color:blackl;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:yellow;
  }
}
@-o-keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:yellow;
  }
}
@-ms-keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:yellow;
  }
}
@-webkit-keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
    color:black;
  }
  100% {
    transform: scale(1.15, 1.15);
    color:yellow;
  }
}
/* typewriter effect */
@keyframes typewriter{
  from {width:0;}
  to {width:100%;}
}
@-moz-keyframes typewriter{
  from {width:0;}
  to {width:100%;}
}
@-webkit-keyframes typewriter{
  from {width:0;}
  to {width:100%;}
}
@-o-keyframes typewriter{
  from {width:0;}
  to {width:100%;}
}
@-ms-keyframes typewriter{
  from {width:0;}
  to {width:100%;}
}
#menu{
  color:black;
}
#menu:hover {
  animation: zoom-in-zoom-out2 1s ease infinite;
  -webkit-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -moz-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -o-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -ms-animation: zoom-in-zoom-out2 0.5s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#about{
  color:black;

}
#about:hover {
  animation: zoom-in-zoom-out2 1s ease infinite;
  -webkit-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -moz-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -o-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -ms-animation: zoom-in-zoom-out2 0.5s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#outlets{
  color:black;
}
#outlets:hover {
  animation: zoom-in-zoom-out2 1s ease infinite;
  -webkit-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -moz-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -o-animation: zoom-in-zoom-out2 0.5s ease infinite;
  -ms-animation: zoom-in-zoom-out2 0.5s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#invit1{
  font-family: "Teko", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  text-align:center;
  font-size: 50px;
}
#invitpara{
  padding-left: 260px;
  padding-right: 260px;

  text-align: center;
  font-size: 30px;
}
#invitpara2{
  padding-left: 260px;
  padding-right: 260px;

  text-align: center;
  font-size: 25px;

}
#invitpara3{
  padding-left: 260px;
  padding-right: 260px;

  text-align: center;
  font-size: 26px;
}

/* colour change */
#icons:hover{
  animation: colour 0.7s ease infinite;
  -webkit-animation: colour 0.7s ease infinite;
  -moz-animation: colour 0.7s ease infinite;
  -o-animation:colour 0.7s ease infinite;
  -ms-animation: colour 0.7s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


.para1{
  height:700px;
}
.text:hover{
  animation: zoom-in-zoom-out 0.7s ease infinite;
  -webkit-animation: zoom-in-zoom-out 0.7s ease infinite;
  -moz-animation: zoom-in-zoom-out 0.7s ease infinite;
  -o-animation: zoom-in-zoom-out 0.7s ease infinite;
  -ms-animation: zoom-in-zoom-out 07s ease infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.description{
  display:inline-block;
}
.timing{
  height:600px;
}
#list{
  width:500px;
  text-align:center;
  font-family: "M PLUS 1 Code", monospace;
  margin-left: 100px;
  margin-top: 70px;
  font-size: 30px;
}
#e1{
  height:50px;
  margin-bottom: 50px;
}
#e2{
  margin-bottom: 30px;
}
#e3{
  margin-bottom: 30px;
}
#e4{
  margin-bottom: 30px;
}
#img0{
  border-radius: 5% 5% 5% 5%;
  float: right;
  margin-left: 60px;
  padding-right: 140px
}
#text1 {
  overflow:hidden;
  animation: typewriter 4s;
  -webkit-animation: typewriter 2s ;
  -moz-animation: typewriter 2s;
  -o-animation: typewriter 2s;
  -ms-animation: typewriter 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  border-right: 1.6rem;
  width:0;
}
#text1{
  text-align:center;
  font-family: "M PLUS 1 Code", monospace;
  margin-left: 100px;
  margin-top: 70px;
  font-size: 20px;
}
#img1 {
  float:left;
  margin-right: 100px;
  border-radius: 0% 5% 5% 0%;
}
.para2{
  height:650px;
  margin-left: 50px;
}
#text2{
  padding-top: 250px;
  padding-right: 190px;
  
  font-size: 25px;
  padding-right: 400px;
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
}
#img2{
  border-radius: 5% 5% 5% 5%;
  float: right;
  margin-left: 60px;
  padding-right: 140px
}

#text4{
  padding-top: 150px;
  padding-right: 220px;
  margin-left: 40px;
  font-size: 25px;
  padding-right: 400px;
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
}
.text{
  padding-right: 200px;
}
.para3{
  height:700px;
}
#img3{
  border-radius: 0% 5% 5% 0%;
  float: left;
  margin-right: 160px;
}
#text3{
  padding-top: 150px;
  padding-right: 220px;
  margin-left: 60px;
  font-size: 25px;
  padding-right: 400px;
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;

}
#cup{
  color:black;
}
#cup:hover {
  animation: fadeIn 5s;
  animation: borderRad 1s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

 /* -webkit-animation: borderRad 1s;
  -moz-animation: borderRad 1s;
  -o-animation: borderRad 1s;
  -ms-animation: borderRad 1s;
  animation-iteration-count: 1;
  animation-play-state:pause 1s; */





/*

Tutorial:
https://www.roboleary.net/animation/2022/10/31/how-to-make-a-slick-animation-schitts-creek-title-sequence.html

Part of Title Sequences collection:
https://codepen.io/collection/nNmwgP

Source code:
https://github.com/robole/title-sequences

*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}



#div2 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 8rem;

  line-height: 0.85;
  perspective: 500px;
}

.word {
  display: block;

  animation: show 0.01s forwards, pop-word 3.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 2.7s;

  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 10s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;

  animation: bar-scale 0.25s linear 4.5s 1 forwards;

  background: linear-gradient(
    to right,
    white var(--bar-width),
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    white calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: -5%;
  left: -85%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 5s 1 forwards;

  background: radial-gradient(
      circle at center,
      rgb(252 249 241 / 94%) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    50% 0,
    59.13% 26.64%,
    85.13% -2.35%,
    100% 50%,
    50% 100%,
    0 50%,
    31.39% 34.86%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

@media screen and (max-width: 600px) {
  #div2 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}

